.dashboard {
  display: flex;
  height: 100%;
}

.side-bar {
  width: 70px;
  padding: 10px;
  background-color: #e8e8e8;
}

.prospector {
  width: 310px;
  background-color: #f1f1f1;
}

.segments {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
